{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env",
      {
        "targets": {
          "chrome": 52,
          "browsers": ["last 2 versions", "not dead"]
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-object-set-prototype-of-to-assign",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from"
  ]
}
