# IntelliJ project files
.idea
*.iml

# Eclipse
.classpath
.project
.settings

# Project Specific
/img/*-target.*
scratchpad.txt
*.log
gitBuildHash.json
/dist

# Node
/node_modules
renderer-bundle.js
renderer-bundle.js.map

# Lint
.eslintcache

# OS
.DS_Store