# IntelliJ project files
.idea
*.iml

# Eclipse
.classpath
.project
.settings

# Project Specific
scratchpad.txt
SCRATCHPAD.md
*.log

# Node
/node_modules

# OS
.DS_Store

# Production webpack
/**/webpack.prod.js