@import url('roboto.css');

* {
  box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serf;
  font-weight: 300;
}

body {
  min-width: 350px;
  background-color: #ffffff;
  color: #000000;
}

a {
  color: #000000;
}
